<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
     
      <div class="col-md-6 offset-md-3 text-center">
        <mat-card class="wel" >
          <!-- <img src="https://i.pinimg.com/originals/66/83/3e/66833e07d6fb9eb5d724e47d0c814285.gif" alt="" width="90" height="90"/> -->
          <mat-card-content>
        <h1><b>Welcome to Online Quiz Portal</b></h1>
        <!-- <button mat-raised-button color="primary">Home Page</button> -->
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
